PORT=3000

# database
ZETADB_URL=http://127.0.0.1:8081

# stripe credentials
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
STRIPE_WEBHOOK_SECRET_PATH=your_stripe_webhook_secret_path
